@import url('https://fonts.googleapis.com/css2?family=Gantari:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: linear-gradient(to bottom right, rgb(150, 0, 200), rgb(90, 0, 120));
    font-family: 'Gantari';
    color: white;
}

div#main {
    display: flex;
    flex-direction: column;
    box-shadow: 5px 5px 5px rgb(90, 0, 120);
}

div#display {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 260px;
    height: 90px;
    padding: 0px 15px;
    overflow: auto;
    border: solid 1px rgb(255,255,255, 0.5);
}

div#display p {
    font-size: 48px;
}

button#clear {
    padding: 4px 0px;
}

div.row {
    display: flex;
    width: 260px;
    height: 65px;
}

button {
    flex: 1;
    background-color: rgb(0, 0, 0, 0.2);
    color: white;
    font-family: 'Gantari';
    font-size: 24px;
    border: solid 1px rgb(255,255,255, 0.5);
    cursor: pointer;
}

button:hover {
    background-color: rgb(255, 255, 255, 0.2);
}